node_modules
.git
.gitignore
.turbo
dist
.vscode
.idea
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
apps/api/dist
apps/web/dist
packages/*/dist
apps/api/uploads
.env
.env.*
!.env.example
!.env.coolify.example
coverage
.cache
